/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f5f5f5;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder {
    font-size: 0.85em;
    opacity: 0.7;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden !important;
    padding: 0 1rem;
    margin-top: 6.2rem;
    margin-bottom: 3rem;
}

.center {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.medium {
    font-size: 1.6rem;
    line-height: 1.2;
}

.small {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
    opacity: 0.9;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}
.p-custom {
    padding: 1.5rem 2rem;
}
.p-custom-2 {
    padding: 2rem 4rem;
}
.p-custom-3 {
    padding: 0.5rem 1.5rem;
}
/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}
.mr {
    margin-right: 1rem !important;
}
.mr-05 {
    margin-right: 0.5rem !important;
}
.mr-6 {
    margin-right: 6rem !important;
}
.mt {
    margin-top: 1.5rem;
}
.mb {
    margin-bottom: 1rem;
}

.say-div {
    border-radius: 4px;
}

.btn {
    position: relative;
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    outline: none;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled:hover {
    opacity: 1;
    cursor: not-allowed;
}

.badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.alert {
    padding: 0.8rem 1.2rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--light-color);
    color: var(--light-color);
}

.btn-filled {
    background: var(--light-color);
    border: 1px solid var(--light-color);
    color: var(--primary-color);
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light,
.alert-light {
    border: #ccc solid 1px;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn-round {
    background: transparent;
    color: var(--danger-color);
    font-size: 1.2rem;
    padding: 0;
    transition: all 0.2s ease-in;
}

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.line {
    height: 1px;
    width: 80%;
    background: #ccc;
    margin: 1.5rem auto;
}

/* Overlay */
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Forms */
.form .form-group {
    margin: 1.2rem 0;
}

.form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form input[type="submit"],
button {
    font: inherit;
}

.form .social-input {
    display: flex;
}

.form .social-input i {
    padding: 0.5rem;
    width: 4rem;
}

.form .social-input i.fa-twitter {
    color: #38a1f3;
}
.form .social-input i.fa-facebook {
    color: #3b5998;
}
.form .social-input i.fa-instagram {
    color: #3f729b;
}
.form .social-input i.fa-youtube {
    color: #c4302b;
}
.form .social-input i.fa-linkedin {
    color: #0077b5;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.table {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.6rem 0;
}

.table th,
.table td {
    padding: 0.8rem 1.4rem;
    text-align: left;
}

.table th {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 3px var(--primary-color);
    opacity: 0.9;
}

.nav-h1 {
    font-size: 1.3rem;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar .welcome span {
    margin-right: 0.6rem;
}

/* Landing Page */
.landing {
    position: relative;
    background: url("./images/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
}

.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Profiles Page */
.profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 0 0 1rem 0;
}

.profile {
    margin-top: 14%;
    padding: 36% 1rem 1rem 1rem;
    min-height: 460px;
    max-height: 520px;
    position: relative;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile img {
    position: absolute;
    left: 50%;
    top: -12%;
    transform: translateX(-50%);
    border: 4px solid var(--primary-color);
}

.status-txt {
    font-weight: 600;
    color: rgb(114, 114, 114);
    font-size: 0.95rem;
}

.location-txt {
    color: rgb(80, 80, 80);
    font-size: 0.95rem;
}

.skills {
    display: flex;
}

.skills li {
    padding: 0.5rem;
}

.more-txt {
    font-size: 0.85rem;
}

/* Profile Page */
.profile-grid {
    display: grid;
    grid-template-areas:
        "top top"
        "about about"
        "exp edu"
        "github github"
        "posts posts";
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 1rem;
}

.profile-top {
    grid-area: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
}

.profile-top img {
    width: 220px;
    height: 220px;
    border: 5px solid #f5f5f5;
}

.profile-top .right-div {
    text-align: left;
}

.profile-top .icons a {
    font-size: 0.7rem;
    color: #fff;
    margin-right: 0.8rem;
}

.follow-div {
    display: flex;
}

.profile-top .icons a:hover {
    color: var(--dark-color);
}

.profile-about {
    grid-area: about;
    text-align: center;
    border-radius: 6px;
}

.profile-about .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-exp {
    grid-area: exp;
    border-radius: 6px;
}

.profile-edu {
    grid-area: edu;
    border-radius: 6px;
}

.profile-exp h2,
.profile-edu h2 {
    margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
    border: 0;
}

.profile-exp p,
.profile-edu p {
    margin: 0.5rem 0;
}

.profile-github {
    grid-area: github;
}

.profile-github .repo {
    display: flex;
    border-radius: 6px;
}

.profile-github .repo > div:first-child {
    flex: 7;
    flex-basis: 70%;
}

.profile-github > div:last-child {
    flex: 3;
    flex-basis: 20%;
}

.profile-posts {
    grid-area: posts;
}

/* Posts Page */
.post-form .post-form-header {
    background: var(--primary-color);
    padding: 0.5rem;
}

.post {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 2rem;
    align-items: center;
    border-radius: 6px;
}

.post > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.post img {
    width: 100px;
    height: 100px;
    border: 4px solid var(--primary-color);
}

.post .likes-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    color: var(--primary-color);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid #ccc;
    position: absolute;
    top: -20%;
    right: -7%;
}

.post .comment-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    color: var(--primary-color);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    position: absolute;
    top: -20%;
    right: -7%;
}

.post .post-text {
    font-weight: 600;
    opacity: 0.9;
}

.post .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
    .container {
        max-width: 500px;
        margin-top: 8rem;
    }

    .hide-sm {
        display: none;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }

    .navbar h1 {
        margin-bottom: 1rem;
    }

    .navbar .welcome {
        display: none;
    }

    .table-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .table {
        width: 100%;
    }

    /* Profiles Page */
    .profiles {
        grid-template-columns: 1fr;
        text-align: center;
    }

    /* .profile ul {
        display: none;
    } */

    /* Profile Page */
    .profile-grid {
        grid-template-areas:
            "top"
            "about"
            "exp"
            "edu"
            "github"
            "posts";
        grid-template-columns: 1fr;
    }

    .profile-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 6px;
    }

    .profile-top .right-div {
        text-align: center;
    }

    .follow-div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .profile-top img {
        width: 140px;
        height: 140px;
        margin: auto;
    }

    .mr-6 {
        margin-right: 0 !important;
    }

    .profile-about .skills {
        flex-direction: column;
    }

    .repo ul {
        margin-left: 0.3rem;
    }

    .dash-buttons a {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .post {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 1.5rem 2rem;
    }

    .post img {
        width: 80px;
        height: 80px;
    }

    .post .likes-count {
        top: -28%;
        right: -10%;
    }

    .post .btn {
        padding: 0.4rem 0.9rem;
        margin-right: 0.5rem !important;
    }
}
